
<% if logged_in? %>
    <header>
        <section class="banner">
            <img class="logo" src="/assets/images/pwc_logo.png" alt="">
            <section class="right-controls">
                <a class="signup" href="/users/new">Sign Up</a>
                <form class="logout-form" action="/sessions" method="POST">
                    <input type="hidden" name="_method" value="delete">
                    <button>Log Out</button>
                </form>
            </section>
        </section>
    </header>

    <main>
        <section class="new-entry">
            <h2>Welcome to the Instructor Journal <%= current_user['first_name'] %></h2>
            <h3>Finished a class?</h3>
            <a class="add_btn" href="/journals/new">Add new entry</a>
        </section>

        <section class="journals">
            <% journals.each do |journal| %>
                <section class="journal">
                    <section class="headers">
                        <section class="controls">
                            <a href="/journals/<%= journal['id'] %>/edit"><img src="/assets/images/edit-icon.png" alt=""></a>
                            <form id="delete-icon" action="/journals/<%= journal['id'] %>" method="POST">
                                <input type="hidden" name="_method" value="delete">
                                <button><img  src="/assets/images/delete-icon.png" alt=""></button>
                            </form>
                        </section>
                        <p><span><%= journal['location'] %></span></p>
                        <p><span><%= journal['date'] %></span></p>  
                    </section>

                    <h2>Instructor <%= journal['instructor_name'] %></h2>
                    <img src="<%= journal['image_url'] %>" alt="">
                    <p><span>Other Instructor: </span><%= journal['other_instructor'] %></p>
                    <p><span>New Students: </span><%= journal['new_students'] %></p>
                    <p><span>Injuries: </span><%= journal['injuries'] %></p>
                    <p><span>Drills: </span><%= journal['drills'] %></p>
                    <p><span>Notes: </span><%= journal['notes'] %></p>
                </section>
            <% end %>
        </section>
    </main>
<% else %>
    <div class="landing-page">
    <section class="landing-content">
        <a class="landing-logo" href="https://www.practicalwingchunkungfu.com/" target="_blank" rel="noopener noreferrer"><img class="landing-logo" src="/assets/images/pwc_logo.png" alt=""></a>
        <h1 class="title">PRACTICAL WING CHUN</h1> 
        <a class="landing-btn" href="/sessions/new">INSTRUCTOR LOGIN</a> 
    </section>    
    </div>
<% end %>